<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @company.nombre %>
</p>

<p>
  <b>Admin:</b>
  <%= @company.admin %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
