<style>
body{
    background: white;
}
</style>
<h3>Listing products</h3>

<table class="table table-bordered">

<thead>
  <tr>
    <th>Referencia externa</th>
    <th>Referencia interna</th>
    <th>Nombre</th>
    <th>Imagen</th>
    <th>Color</th>
    <th>Talla</th>
    <th>Precio publico</th>
    <th>Precio mayorista</th>
    <th>Precio especial</th>
    <th>Administrador</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @products.each do |product| %>
<tbody>
  <tr>
    <td><%= product.referencia_externa %></td>
    <td><%= product.referencia_interna %></td>
    <td><%= product.nombre %></td>
    <td><img src="<%= product.imagen %>" style="width: 95px;
height: 85px;" ></td>
    <td><%= product.color %></td>
    <td><%= product.talla %></td>
    <td><%= product.precio_publico %></td>
    <td><%= product.precio_mayorista %></td>
    <td><%= product.precio_especial %></td>
    <td><%= product.admin.last_name %></td>
    <td><%= product.category.nombre %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
